/* HEADER INFO */
.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.4);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.mini-cal {
    font-size: 14px;
    background: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.segundos-box {
    font-size: 16px;
    color: #0369a1;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 30px;
}

/* LINHA DO TEMPO */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4px;
    background: #bae6fd;
    z-index: 1;
}

.timeline-item {
    position: relative;
    z-index: 2;
    background: white;
    padding: 15px;
    border-radius: 15px;
    width: 30%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.timeline-item.active {
    border: 2px solid #0369a1;
}

/* BARRA DE PROGRESSO BODAS */
.barra-progresso {
    width: 100%;
    background: #e0f2fe;
    height: 15px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.preenchimento {
    height: 100%;
    background: #0369a1;
    width: 0%;
    transition: width 1s ease;
}

.grid-final {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
}
